
{% assign title = include.title %}
{% assign description = include.description %}
{% assign thumbnail = include.thumbnail %}
{% assign icon = include.icon %}
{% assign fa_icon = include.fa_icon %}
{% assign url = include.url %}
{% assign date = include.date %}
{% assign authors = include.authors %}
{% assign categories = include.categories %}
{% assign style = include.style | default: "column" %}
{% assign show_read_more = include.show_read_more %}
{% assign client = include.client %}
{% assign content = include.content %}
{% assign thumbnail_size = include.thumbnail_size %}

<div class="card card-project card-{{ style }} {% if thumbnail %}card-has-thumbnail{% endif %} {% if icon or fa_icon %}card-has-icon{% endif %}">
<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 mb-6 mb-md-0">
        <div class="gallery gallery-single-column">
          {% for item in include.videos limit: limit %}
            {% include vimeoPlayer.html id=item.vimeoId %}
          {% endfor %}
          {% for item in include.gallery limit: limit %}
            <div class="gallery-item">
              <div class="gallery-image"><img src="{{ item.image | relative_url }}"/></div>
              <div class="gallery-caption">{{ item.caption }}</div>
            </div>
          {% endfor %}
        </div>
      </div>

      <div class="col-12 col-md-6">

        {% if include.title %}
          <div class="project-heading">
            <h1>{{ title }}</h1>
          </div>
        {% endif %}

        <div class="content">{{ content }}</div>

        {% if include.date %}
          <div class="project-date">
            <strong>Date </strong><span>{{ include.date | date_to_long_string }}</span>
          </div>
        {% endif %}

        {% if include.client %}
          <div class="project-client">
            <strong>Client </strong><span>{{ include.client }}</span>
          </div>
        {% endif %}

        {% if include.role %}
          <div class="project-role">
            <strong>Role </strong><span>{{ include.role }}</span>
          </div>
        {% endif %}

        {% if include.software %}
          <div class="project-role">
            <strong>Software </strong><span>{{ include.software }}</span>
          </div>
        {% endif %}
       {% if include.platforms %}
          <div class="project-role">
            <strong>Platforms </strong><span>{{ include.platforms }}</span>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
</div>

 